/* ===================================================================================================
   Global styles
   =================================================================================================== */
@import 'normalize';

/* Fonts
========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

body {
    font-family: 'Open Sans', sans-serif;
}

p {
    line-height: 2em;
}

/* 
=========================== */
html {
    box-sizing: border-box;     
}

*, *:before, *:after {
    box-sizing: inherit;
}

a { 
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Variables
========================================================================== */

/* Colors ===================== */
$dark-primary-color: #512DA8;
$primary-color: #673AB7;
$light-primary-color: #D1C4E9;
$text-icons: #FFF;
$accent-color: #E040FB;
$accent-text: #212121;
$primary-text: #4D4D4D;
$secondary-text: #727272;
$divider-color: #B6B6B6;

/* Other ===================== */

/* Helper classes
========================================================================== */
.center {
    text-align: center;
}

/* Buttons
========================================================================== */


/* 
========================================================================== */
.header {
    position: absolute;
    height: 100%;
    width: 25%;
    min-width: 275px;
    padding: .6em 2.5em;
    border-right: 1px solid #ddd;

    h2 {
        font-size: 1.5em;
        text-transform: uppercase;
        color: $dark-primary-color;
    }
}

.social-container {
    padding: 1em;
    text-align: initial;
}

.social-link {
    display: inline-block;
    line-height: 35px;
    border-radius: 100px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: $primary-color;
    font-weight: 600;
    margin-bottom: .4em;
    transition-property: all;
    transition-duration: 0.2s;

    &:hover {
        color: $secondary-text;
    }

    img {
        float: left;
        margin-right: 5px;
        height: 35px;
    }
}

main {
    width: 75%;
    float: right;
}

.full-post section, .post-list {
    width: 650px;
    margin: 5em auto 0;
}

.profile-img {
    width: 170px;
    height: 170px;
    padding: 8px;
    border: 7px solid $dark-primary-color;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.post-preview a {
    color: $primary-text;
}

.post-date,
.author-name  {
    color: $secondary-text;
}

.post-date {
    text-transform: uppercase;
}

.post-category {
    color: $primary-color;
    text-transform: uppercase; 
    font-size: 1em;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 10px;
}

.post-title {
    font-size: 2.5em;
    line-height: 35px;
    margin-bottom: 15px;
    margin-top: 0;
    font-weight: bold;
    color: $accent-text;
    margin: 0.27em 0;
    transition-property: all;
    transition-duration: 0.2s;

    &:hover {
        color: $primary-color;
    }
}

.author-details {
    margin: 0 0 0.67em;
}