/* ===================================================================================================
   Global styles
   =================================================================================================== */

   /* Fonts
========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

body {
    font-family: 'Open Sans', sans-serif;
}

/* Variables
========================================================================== */
/* Colors ===================== */
$primary-color: #222933;


.header {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: $primary-color;
    height: 100%;
    width: 400px;
}
